.Calculator {
    color: #222;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 5%;

    h1 {
        margin-bottom: 15px;
    }
}

.Form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    button, 
    input, 
    submit {
        text-align: left;
        padding: .5em .8em;
        border: solid 1px transparent;
        border-radius: 4px;
        font-size: 1em;
        min-height: 2em;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .5em;
        row-gap: .5em;

        &__buttonElement {
            width: 100%;
            height: 100%;
            background: #f8f8f8;
            border: solid 1px #ccc;

            strong {
                overflow: hidden;
            }

            &--selected {
                border: solid 1px rgb(14, 111, 176);
            }
        }
    }

    .inputs { 
        display: flex;
        gap: .5em;
        margin-top: 15px;
        justify-content: space-between;

        .cashGiven {
            width: 50%;
            flex-grow: 1;
            background: #f8f8f8;
            border: solid 1px #ccc;
        }
        
        .reset {
            background: rgb(202, 47, 47);
            color: #fff;
        }
    }

    .summary {
        margin: 15px 0 0 0;
        font-size: 1.2em;

        hr { margin: 5px 0; }
        
        p { 
            display: flex;
            justify-content: space-between;
        }
    }
}